@import "~flag-icons/css/flag-icons.min.css";

.fi{
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  object-fit: contain;
  width: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  flex: 1;
  /* min-height: calc(100vh - 64px); */
  height: max-content;
}

#root{
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  flex-grow: 1;
  padding: 30px 40px;
}

nav, .header-inner{
  height: 64px;
  display: block;
}

.brand-logo img {
  height: 56px;
  object-fit: contain;
  border-radius: 50px;
  margin-top: 4px;
}

.brand-logo{
  display: block;
  height: 60px;
}

.header-menu-item{
  color: white;
}

.page-footer{
  background-color: #001529;
}

.accent-color{
  color: #1677ff!important;
}

h1{
  font-size: 2.5rem;
  font-family: Montserrat;
  margin: 1.5rem 0 1rem 0;
  text-align: center;
}

h3{
  font-size: 1.4rem;
  font-family: Montserrat;
  margin: 0 0 1rem 0;
  text-align: left;
  margin-bottom: 2rem;
}

.w-600{
  font-weight: 600;
}

.recipe-text-block, .saved-title-block, .category-list-text-block{
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.saved-text-block h3, .home-page-block h3, .notfound-page-block h3{
  text-align: center;
}

.category-list-text-block, .category-text-block{
  margin-bottom: 2rem;
}

.search-block{
  margin-bottom: 3rem;
}

.recipe-text-block{
  margin-bottom: 2rem;
}

.category-subtext{
  text-align: left;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-layout{
  flex: none !important;
}

footer{
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.recipe-title-block{
  display: inline-flex;
  align-items: center;
}

.recipe-tag-block{
  display: block;
}

.recipe-page-block{
  text-align: center;
  max-width: 90vw;
  margin: auto;
}

.ingredient-item{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.recipe-components-block{
  flex-grow: 1;
  max-width: 500px;
  min-width: 250px;
  margin-left: 40px;
}

.recipe-content-header{
  display: flex;
  justify-content: center;
}

.recipe-content-header img{
  border-radius: 8px;
  max-height: 550px;
}

.recipe-algorithm-text{
  text-align: left;
  margin-top: 20px;
}

.recipe-algorithm-text li{
  margin-bottom: 10px;
}

.recipe-image{
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.custom-divider {
  margin-top: 10px !important;
}

.iframe-block{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

.back-button{
  margin-top: 24px;
}

.random-meal-block .ant-card-cover{
  position: relative;
  width: 100%;
  padding-bottom: 62.5%;
}

.random-meal-image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  object-fit: cover;
}

.ant-skeleton.ant-skeleton-element.random-meal-image{
  width: 100%;
}

.random-meal-meta-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.random-meal-title-block{
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-card-meta-title-text{
  margin: 0 16px;
}

.random-meal-block .ant-card-body{
  padding: 21px 24px;
}

.random-meal-block.ant-card-bordered .ant-card-cover{
  margin: 0;
}

.button-block{
  display: flex;
  justify-content: center;
}

.backtop.ant-back-top .ant-back-top-content{
  background-color: #1677ff;
}

.backtop.ant-back-top .ant-back-top-content:hover{
  background-color: #001529;

}

.custom-search input[type=text]:not(.browser-default){
  border: none!important;
  margin: 0;
  height: inherit;
  font-size: inherit;
}

.custom-search{
  width: 100%;
}

.search-block{
  display: flex;
  justify-content: center;
}

.preloader-block{
  display: flex;
    justify-content: center;
}